@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Work+Sans:400,700');

body {
font-family: 'Work Sans', sans-serif;
margin: 0;
font-size: 20px;
-webkit-font-smoothing: antialiased;
line-height: 1.3;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background: url('../images/hero_background.jpeg');
  height: 840px;
  background-size: cover;
  background-position: center;
  animation: HeroAnimation 2s 0.2s forwards;
  opacity: 0;

  @media (max-width: 640px) {
  height: 900px;
  }
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 550px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.Hero p {
  color: black;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
}

.HeroGroup button{
  font-size: 12px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #08FED2;
  padding: 20px 35px;
  border-radius: 40px;
  border: none;
  transition: 500ms cubic-bezier(0.2, 0.8, 0.2, 1);
  animation: HeroAnimation 2s 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.HeroGroup button:hover {
  background: black;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
  cursor: pointer;
}

.LogoTag {
  background: url('../images/b53f9468f39c55408b12769bb611c9d6.png');
  height: 66px;
  width: 66px;
  background-size: cover;
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
 
.CardGroup {
  margin: 30px 40px 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    margin: 8px 8px 80px 8px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.CardTitle {
  margin: 45px;
  padding-top: 10px;
}

.CardTitle h1{
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  kerning: 5%;
  line-height: 2px;
}

.CardTitle p{
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}

.CardInfo {
  margin: 45px;
  padding-top: 10px;
}


.SmallSection{
    margin: 45px;
    padding-top: 10px;
}
